In [3]:
import pandas as pd
import numpy as np

# 1.Gathering:

In [6]:
df_daily_activity = pd.read_csv('dailyActivity_merged.csv')
df_heartrate = pd.read_csv('heartrate_seconds_merged.csv')
df_hourlyCalories = pd.read_csv('hourlyCalories_merged.csv')
df_hourlyIntensities = pd.read_csv('hourlyIntensities_merged.csv')
df_hourly_steps = pd.read_csv('hourlySteps_merged.csv')
df_minuteCalories = pd.read_csv('minuteCaloriesNarrow_merged.csv')
df_minuteIntensities = pd.read_csv('minuteIntensitiesNarrow_merged.csv')
df_minuteMETs = pd.read_csv('minuteMETsNarrow_merged.csv')
df_minuteSleep = pd.read_csv('minuteSleep_merged.csv')
df_minuteSteps = pd.read_csv('minuteStepsNarrow_merged.csv')
df_weight = pd.read_csv('weightLogInfo_merged.csv')

# 2. Assessing:

In [7]:
df_daily_activity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [25]:
# to find number of members in dataset
len(df_daily_activity['Id'].unique())

35

In [8]:
df_heartrate.head()

           Id                 Time  Value
0  2022484408  4/1/2016 7:54:00 AM     93
1  2022484408  4/1/2016 7:54:05 AM     91
2  2022484408  4/1/2016 7:54:10 AM     96
3  2022484408  4/1/2016 7:54:15 AM     98
4  2022484408  4/1/2016 7:54:20 AM    100

In [26]:
len(df_heartrate['Id'].unique())

14

In [9]:
df_hourlyCalories.head()

           Id           ActivityHour  Calories
0  1503960366  3/12/2016 12:00:00 AM        48
1  1503960366   3/12/2016 1:00:00 AM        48
2  1503960366   3/12/2016 2:00:00 AM        48
3  1503960366   3/12/2016 3:00:00 AM        48
4  1503960366   3/12/2016 4:00:00 AM        48

In [10]:
df_hourlyIntensities.head()

           Id           ActivityHour  TotalIntensity  AverageIntensity
0  1503960366  3/12/2016 12:00:00 AM               0               0.0
1  1503960366   3/12/2016 1:00:00 AM               0               0.0
2  1503960366   3/12/2016 2:00:00 AM               0               0.0
3  1503960366   3/12/2016 3:00:00 AM               0               0.0
4  1503960366   3/12/2016 4:00:00 AM               0               0.0

In [27]:
len(df_hourlyIntensities['Id'].unique())

34

In [28]:
df_hourly_steps.head()

           Id           ActivityHour  StepTotal
0  1503960366  3/12/2016 12:00:00 AM          0
1  1503960366   3/12/2016 1:00:00 AM          0
2  1503960366   3/12/2016 2:00:00 AM          0
3  1503960366   3/12/2016 3:00:00 AM          0
4  1503960366   3/12/2016 4:00:00 AM          0

In [29]:
len(df_hourly_steps['Id'].unique())

34

In [12]:
df_minuteCalories.head()

           Id         ActivityMinute  Calories
0  1503960366  3/12/2016 12:00:00 AM    0.7973
1  1503960366  3/12/2016 12:01:00 AM    0.7973
2  1503960366  3/12/2016 12:02:00 AM    0.7973
3  1503960366  3/12/2016 12:03:00 AM    0.7973
4  1503960366  3/12/2016 12:04:00 AM    0.7973

In [30]:
len(df_minuteCalories['Id'].unique())

34

In [13]:
df_minuteIntensities.head()

           Id         ActivityMinute  Intensity
0  1503960366  3/12/2016 12:00:00 AM          0
1  1503960366  3/12/2016 12:01:00 AM          0
2  1503960366  3/12/2016 12:02:00 AM          0
3  1503960366  3/12/2016 12:03:00 AM          0
4  1503960366  3/12/2016 12:04:00 AM          0

In [31]:
len(df_minuteIntensities['Id'].unique())

34

In [14]:
df_minuteMETs.head()

           Id         ActivityMinute  METs
0  1503960366  3/12/2016 12:00:00 AM    10
1  1503960366  3/12/2016 12:01:00 AM    10
2  1503960366  3/12/2016 12:02:00 AM    10
3  1503960366  3/12/2016 12:03:00 AM    10
4  1503960366  3/12/2016 12:04:00 AM    10

In [32]:
len(df_minuteMETs['Id'].unique())

34

In [15]:
df_minuteSleep.head()

           Id                  date  value        logId
0  1503960366  3/13/2016 2:39:30 AM      1  11114919637
1  1503960366  3/13/2016 2:40:30 AM      1  11114919637
2  1503960366  3/13/2016 2:41:30 AM      1  11114919637
3  1503960366  3/13/2016 2:42:30 AM      1  11114919637
4  1503960366  3/13/2016 2:43:30 AM      1  11114919637

In [33]:
len(df_minuteSleep['Id'].unique())

23

In [16]:
df_minuteSteps.head()

           Id   ActivityMinute  Steps
0  1503960366  03/12/2016 0:00      0
1  1503960366  03/12/2016 0:01      0
2  1503960366  03/12/2016 0:02      0
3  1503960366  03/12/2016 0:03      0
4  1503960366  03/12/2016 0:04      0

In [34]:
len(df_minuteSteps['Id'].unique())

26

In [36]:
df_weight.head(12)

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,4/5/2016 11:59:59 PM,53.299999,117.506384,22.0,22.969999,True,1459900799000
1,1927972279,4/10/2016 6:33:26 PM,129.600006,285.719105,NaN,46.169998,False,1460313206000
2,2347167796,4/3/2016 11:59:59 PM,63.400002,139.773078,10.0,24.770000,True,1459727999000
3,2873212765,4/6/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1459987199000
4,2873212765,4/7/2016 11:59:59 PM,57.200001,126.104416,NaN,21.650000,True,1460073599000
5,2891001357,4/5/2016 11:59:59 PM,88.400002,194.888643,NaN,25.030001,True,1459900799000
6,4445114986,3/30/2016 11:59:59 PM,92.400002,203.707134,NaN,35.009998,True,1459382399000
7,4558609924,4/8/2016 11:59:59 PM,69.400002,153.000813,NaN,27.139999,True,1460159999000
8,4702921684,4/4/2016 11:59:59 PM,99.699997,219.800869,NaN,26.110001,True,1459814399000
9,6962181067,3/30/2016 11:59:59 PM,61.500000,135.584291,NaN,24.030001,True,1459382399000
10,6962181067,3/31/2016 11:59:59 PM,61.500000,135.584291,NaN,24.030001,True,1459468799000
11,6962181067,4/1/2016 11:59:59 PM,60.900002,134.261521,NaN,23.780001,True,1459555199000

In [35]:
len(df_weight['Id'].unique())

11

### dailyActivity: 
#### Quality:
    1- 
#### Tidness: